[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/catppuccin/tmux"]
	path = modules/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
